### set_obj.add(obj)  

기존 세트에 객체 obj를 추가한다. obj가 이미 세트의 멤버면 아무 동작도 하지 않는다. 두 경우 모두 None을 반환한다.

In [2]:
set = {1, 2, 3}
set.add(4)
set

{1, 2, 3, 4}

### set_obj.clear()  

기존 세트의 모든 항목을 제거한다. 인수는 없으며, None을 반환한다.

In [3]:
set.clear()

### set_obj.copy()  

멤버 간 얕은 복사를 한 세트를 반환한다.

In [4]:
a_set = {1, 2, 3}  
b_set = a_set.copy()

이 문장이 실행되고 나면 b_set는 a_set와 같은 내용을 갖지만, 두 세트는 분리된 세트이며 한 세트를 수정한다고 해서 다른 세트가 수정되지는 않는다.

### set_obj.difference(other_set)  

set_obj의 항목 중 other_set에 포함되지 않은 모든 항목을 담은 세트를 반환한다.

In [5]:
a_set = {1, 2, 3, 4}
b_set = {3, 4, 5, 6}
c = a_set.difference(b_set)
print(c)
print(b_set.difference(a_set))

{1, 2}
{5, 6}

세트에서 차집합 기호(-)로 사용하는 difference 연산자는 같은 결과를 생산하며, 더욱 간결하다.

In [6]:
print(a_set - b_set)

{1, 2}

### set_obj.difference_update(other_set)  

difference 메서드와 동일하게 동작하지만 결과가 set_obj를 교체하며, None을 반환한다. 차집합-대입 연산자(-=)도 동일하게 동작한다.

### set_obj.discard(obj)  

set_obj에서 obj 항목을 폐기한다. 반환값은 None이다. remove 메서드와 동일하게 동작하지만 obj가 세트의 멤버가 아니더라도 예외가 발생하지 않는다.

In [7]:
a_set = {'Moe', 'Larry', 'Curly'}  
a_set.discard('Curly')
print(a_set)

{'Moe', 'Larry'}

### set_obj.intersection(other_set)  

set_obj와 other_set의 교집합을 반환한다. 세트에 공통 항목이 없으면 빈 세트가 반환된다.

In [8]:
a_set = {1, 2, 3, 4}
b_set = {3, 4, 5, 6}
print(a_set.intersection(b_set))

{3, 4}

교집합 연산자(&)도 동일하게 동작한다.

In [9]:
print(a_set & b_set)

{3, 4}

### set_obj.intersection_update(other_set)  

intersection 메서드와 동일하게 동작하지만 set_obj를 결과로 교체하고, None을 반환한다. 교집합-대입 연산자(&=)도 동일하게 동작한다.

In [10]:
a_set &= b_set

### set_obj.isdisjoint(other_obj)  

set_obj와 other_set 간에 공통 항목이 없으면 True를 반환한다. 그렇지 않으면 False를 반환한다.

### set_obj.issubset(other_set)  

set_obj가 아니라 other_set의 하위 세트이거나 동일하면 True를 반환한다.

In [11]:
{1, 2}.issubset({1, 2, 3})
{1, 2}.issubset({1, 2})

True

### set_obj.issuperset(other_set)  

set_obj가 other_set의 부모 세트이거나 동일하면 True를 반환한다.

In [12]:
{1, 2}.issuperset({1})
{1, 2}.issuperset({1, 2})

True

### set_obj.pop()  

세트의 임의 항목을 반환하고, 해당 항목을 세트에서 제거한다.

In [13]:
a_set = {'Moe', 'Larry', 'Curly'} 
stooge = a_set.pop()
print(stooge, a_set)

Moe {'Larry', 'Curly'}

### set_obj.remove(obj)  

특정 항목 obj를 set_obj에서 제거한다. discard 메서드와 동일하게 동작하지만 remove는 obj가 존재하지 않은 경우에 keyError 예외를 발생한다.

### set_obj.symmetric_difference(other_set)  

set_obj와 other_set에 서로 포함되지 않은 모든 항목을 반환한다.(대칭 차집합)

In [14]:
a_set = {1, 2, 3, 4}
b_set = {3, 4, 5, 6}
print(a_set.symmetric_difference(b_set))

{1, 2, 5, 6}

대칭 차집합 연산자(^)도 동일하게 동작한다.

In [15]:
print(a_set ^ b_set)

{1, 2, 5, 6}

### set_obj.symmetric_difference_update(other_set)  

symmetric_difference 메서드와 동일하게 동작하지만 set_obj가 결과로 대체되고, None을 반환한다. 대칭 차집합-대입 연산자(^=)도 동일하게 동작한다.  

a_set ^= b_set

### set_obj.union(other_set)  

set_obj와 other_set의 합집합을 반환한다.

In [16]:
a_set = {1, 2, 3, 4}
b_set = {3, 4, 5, 6}
print(a_set.union(b_set))

{1, 2, 3, 4, 5, 6}

합집합 연산자(|)도 동일하게 동작한다.

In [17]:
print(a_set | b_set)

{1, 2, 3, 4, 5, 6}

### set_obj.union_update(other_set)  

union 메서드와 동일하게 동작하지만 set_obj가 결과로 대체되고, None이 반환된다.  
합집합-대입 연산자(|=)도 동일하게 동작한다.  

a_set |= b_set  

이 연산자로 세트 내용을 쉽게 확장할 수 있다.

In [18]:
a_set = {1, 2, 3}
a_set |= {200, 300}
a_set

{1, 2, 3, 200, 300}